@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
