@font-face {
    font-family: "Poppins";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.container * {
    font: inherit;
}

.container {
    --accent-color: #4f646f;
    --text-color: #535657;

    position: absolute;
    z-index: 2000;
    background-color: white;
    transition: top 300ms ease, left 300ms ease;
    box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.14);
    display: none;
    font-family: "Poppins" !important;
    border-radius: 20px;
    animation: slideIn 250ms ease forwards;
    user-select: none;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.toolbar .top-bar {
    display: flex;
    padding: 4px;
    gap: 2px;
    align-items: center;
}

.toolbar .rephrase-bar {
    display: none;
    padding: 4px;
    gap: 2px;
    align-items: center;
}

.toolbar > *,
.toolbar > *:hover,
.toolbar > *:focus {
    border: 0;
}

.btn {
    all: unset;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color) !important;
    background-color: white !important;
    padding: 6px 8px !important;
    border-radius: 50px;
    transition: background-color 250ms ease, color 250ms ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 0;
    border-width: 0px !important;
}

.toolbar .rephrase-bar .btn {
    padding: 13px 8px !important;
}

.btn path {
    transition: stroke 250ms ease, fill 250ms ease;
}

.btn:hover path,
.btn:focus path {
    stroke: white;
    fill: transparent;
}

.toolbar svg {
    height: 14px;
    width: 14px;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color) !important;
    color: white !important;
}

.action__container {
    display: flex;
    animation: fadeIn 1000ms ease forwards;
    justify-content: space-between;
}

.action__btns_left_container {
    display: flex;
    gap: 2px;
}

.action__container .btn {
    font-size: 10px;
    padding: 4px 6px;
}

.action__container .btn:hover {
    background-color: transparent !important;
    color: var(--text-color) !important;
}

.content {
    display: none;
    padding: 12px;
    padding-top: 6px;
}

.content p {
    font-size: 12px;
    color: #1f2021;
    margin: 0;
    max-width: 500px;
    margin-bottom: 6px;
    line-height: 1.6;
}

.content p span {
    animation: fadeIn 1000ms ease forwards;
}

.copyBtn svg {
    height: 14px;
    width: 14px;
}

.copyBtn:hover,
.copyBtn:focus {
    background-color: white !important;
}

.copyBtn:hover path,
.copyBtn:focus path {
    fill: var(--text-color);
    stroke: transparent;
}

.copyBtn path {
    fill: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
