@font-face {
    font-family: "Poppins";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.container {
    --accent-color: #4f646f;
    --text-color: #535657;

    position: absolute;
    z-index: 2000;
    background-color: white;
    transition: top 300ms ease, left 300ms ease;
    box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.14);
    display: none;
    font-family: "Poppins" !important;
    border-radius: 20px;
    animation: slideIn 250ms ease forwards;
    user-select: none;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.toolbar {
    display: flex;
    padding: 4px;
    gap: 2px;
    align-items: center;
}

.toolbar > *,
.toolbar > *:hover,
.toolbar > *:focus {
    border: 0;
}

.btn {
    all: unset;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
    padding: 6px 8px;
    border-radius: 50px;
    transition: background-color 250ms ease, color 250ms ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* TODO look for catch all selector */
.btn > svg > path {
    transition: stroke 250ms ease, fill 250ms ease;
}

.btn:hover > svg > path,
.btn:focus > svg > path {
    stroke: white;
    fill: transparent;
}

.toolbar svg {
    height: 14px;
    width: 14px;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: white;
}

.action__container {
    display: flex;
    gap: 2px;
    animation: fadeIn 1000ms ease forwards;
}

.action__container button {
    font-size: 10px;
    padding: 4px 6px;
}

.action__container button:hover {
    background-color: transparent;
    color: var(--text-color);
}

.select__container {
    display: flex;
    position: relative;
}

.select__container select {
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
    padding: 5px 8px;
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    background-color: transparent;
    padding-right: 16px;
    border-radius: 50px;
    outline: none;
}

.select__container select:focus {
    text-decoration: underline;
    text-decoration-color: var(--text-color);
    text-decoration-thickness: 2px;
}

.select__caret {
    position: absolute;
    height: 100%;
    width: 20px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
    background-color: white;
    pointer-events: none;
}

.content {
    display: none;
    padding: 12px;
    padding-top: 6px;
}

.content p {
    font-size: 12px;
    color: #1f2021;
    margin: 0;
    max-width: 500px;
    margin-bottom: 6px;
}

.content p span {
    animation: fadeIn 1000ms ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
