@font-face {
    font-family: "Poppins";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.container * {
    font: inherit;
}

.container {
    --accent-color: #4f646f;
    --text-color: #535657;

    position: absolute;
    z-index: 2000;
    background-color: white;
    box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.14);
    font-family: "Poppins" !important;
    border-radius: 20px;
    user-select: none;
    display: none;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 250ms ease, transform 250ms ease, display 250ms ease allow-discrete;
    overflow-x: hidden;
    width: 485px;

    &.visible {
        display: block;
        opacity: 1;
        transform: translateY(0px);
    }
}

.toolbar > *,
.toolbar > *:hover,
.toolbar > *:focus {
    border: 0;
}

.toolbar > div[toolbar] {
    padding: 4px;
    gap: 2px;
    align-items: center;
}

.toolbar .top-bar {
    display: flex;
}

.toolbar .rephrase-bar,
.toolbar .summarize-bar {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: none;
    opacity: 0;
    transition: opacity 500ms ease, display 500ms ease allow-discrete;
    anchor-name: --toolbar;

    &.visible {
        opacity: 1;
        display: flex;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &::scroll-button(left) {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 -1 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' d='m14 7l-5 5m0 0l5 5'/%3E%3C/svg%3E") /
            "Scroll Left";
        position-area: left center;
        margin-right: -32px;
    }

    &::scroll-button(right) {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 -1 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.5' d='m10 17l5-5m0 0l-5-5'/%3E%3C/svg%3E") /
            "Scroll Right";
        position-area: right center;
        margin-left: -32px;
    }

    &::scroll-button(*) {
        position-anchor: --toolbar;
        position: absolute;
        padding: 0;
        background-color: var(--accent-color);
        height: 30px;
        width: 30px;
        opacity: 1;
        border-radius: 50%;
        border: none;
        transition: opacity 250ms ease;
        cursor: pointer;
    }

    &::scroll-button(*):disabled {
        opacity: 0;
        pointer-events: none;
    }

    button {
        scroll-snap-align: center;
        flex-shrink: 0;
    }
}

@starting-style {
    .container.visible {
        opacity: 0;
        transform: translateY(50px);
    }

    .toolbar .rephrase-bar.visible,
    .toolbar .summarize-bar.visible {
        opacity: 0;
    }

    .toolbar > div[toolbar]::scroll-button(*) {
        opacity: 0;
    }
}

.btn {
    all: unset;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color) !important;
    background-color: white !important;
    padding: 6px 8px !important;
    border-radius: 50px;
    transition: background-color 250ms ease, color 250ms ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 0;
    border-width: 0px !important;
    background-image: none;
}

.toolbar .rephrase-bar .btn,
.toolbar .summarize-bar .btn {
    padding: 13px 8px !important;
}

.btn path {
    transition: stroke 250ms ease, fill 250ms ease;
}

.btn:hover path,
.btn:focus path {
    stroke: white;
    fill: transparent;
}

.toolbar svg {
    height: 14px;
    width: 14px;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color) !important;
    color: white !important;
}

.action__container {
    display: flex;
    animation: fadeIn 1000ms ease forwards;
    justify-content: space-between;
}

.action__btns_left_container {
    display: flex;
    gap: 2px;
}

.action__container .btn {
    font-size: 10px;
    padding: 4px 6px;
}

.action__container .btn:hover {
    background-color: transparent !important;
    color: var(--text-color) !important;
}

.content {
    display: none;
    padding: 12px;
    padding-top: 6px;
}

.content p {
    font-size: 12px;
    color: #1f2021;
    margin: 0;
    margin-bottom: 6px;
    line-height: 1.6;
}

.content p span {
    animation: fadeIn 1000ms ease forwards;
}

.copyBtn svg {
    height: 14px;
    width: 14px;
}

.copyBtn:hover,
.copyBtn:focus {
    background-color: white !important;
}

.copyBtn:hover path,
.copyBtn:focus path {
    fill: var(--text-color);
    stroke: transparent;
}

.copyBtn path {
    fill: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
