@font-face {
    font-family: "Poppins";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

.container {
    position: absolute;
    z-index: 10;
    background-color: red;
    transition: all 300ms ease;
}
