@font-face {
    font-family: "Poppins";
    src: url("chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Medium.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}

.container {
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    transition: all 300ms ease;
    padding: 4px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.14);
    display: none;
    gap: 2px;
    align-items: center;
    font-family: "Poppins" !important;
}

.container > *,
.container > *:hover,
.container > *:focus {
    border: 0;
}

.btn {
    all: unset;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    color: #535657;
    padding: 6px 8px;
    border-radius: 50px;
    transition: background-color 250ms ease, color 250ms ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn > svg > path {
    transition: stroke 250ms ease, fill 250ms ease;
}

.btn:hover > svg > path,
.btn:focus > svg > path {
    stroke: white;
    fill: transparent;
}

.btn svg,
.container select svg {
    height: 14px;
    width: 14px;
}

.btn:hover,
.btn:focus {
    background-color: #4f646f;
    color: #ffff;
}

.select__container {
    display: flex;
    position: relative;
}

.select__container select {
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    color: #535657;
    padding: 5px 8px;
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    background-color: transparent;
    padding-right: 16px;
    border-radius: 50px;
    outline: none;
}

.select__container select:focus {
    text-decoration: underline;
    text-decoration-color: #535657;
    text-decoration-thickness: 2px;
}

.select__caret {
    position: absolute;
    height: 100%;
    width: 20px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
    background-color: white;
    pointer-events: none;
}
